Repository bskang7777/flutter-note-app, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, auth, documentation, config, tests, ci, dependencies, web, android, windows, feature, bugfix, hotfix

fix: Replace Firebase with Mock Authentication for web compatibility
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/pr-automation.yml
  .github/workflows/release.yml
  .gitignore
  lib/auth_service.dart
  lib/main.dart
  pubspec.lock
  pubspec.yaml
  windows/flutter/generated_plugin_registrant.cc
  windows/flutter/generated_plugins.cmake
Labels: ui, auth, documentation, config, ci, dependencies, windows, feature

style: Fix Dart code formatting
  lib/auth_service.dart
  lib/main.dart
Labels: ui, auth, feature

deploy: be6e24597b53eb5482767aeaf824b9ee9e16399f
  .last_build_id
  .nojekyll
  CNAME
  assets/AssetManifest.bin
  assets/AssetManifest.bin.json
  assets/AssetManifest.json
  assets/FontManifest.json
  assets/NOTICES
  assets/fonts/MaterialIcons-Regular.otf
  assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
  assets/shaders/ink_sparkle.frag
  canvaskit/canvaskit.js
  canvaskit/canvaskit.js.symbols
  canvaskit/chromium/canvaskit.js
  canvaskit/chromium/canvaskit.js.symbols
  canvaskit/skwasm.js
  canvaskit/skwasm.js.symbols
  canvaskit/skwasm.wasm
  canvaskit/skwasm.worker.js
  favicon.png
  flutter.js
  flutter_service_worker.js
  icons/Icon-192.png
  icons/Icon-512.png
  icons/Icon-maskable-192.png
  icons/Icon-maskable-512.png
  index.html
  main.dart.js
  manifest.json
  version.json
Labels: ui

Remove Firebase dependencies and implement pure Mock authentication
  .github/workflows/release.yml
  CLAUDE.md
  DEPLOYMENT.md
  FIRESTORE_SCHEMA.md
  GOOGLE_SETUP.md
  README.md
  firestore.rules
  lib/auth_service.dart
  pubspec.yaml
  web/index.html
Labels: ui, auth, documentation, config, ci, dependencies, web, feature

deploy: 26cc05c787693130d1783bf26375fe3e3ae49313
  flutter_service_worker.js
  index.html
  main.dart.js
Labels: ui

test: Fix widget tests for Flutter note app
  test/widget_test.dart
Labels: tests

.github/labeler.yml:

# 라벨 자동 설정 규칙

# UI 관련 변경사항
ui:
  - lib/**/*.dart
  - web/**/*
  - '**/*.css'
  - '**/*.html'

# 인증 관련
auth:
  - lib/auth_service.dart
  - '**/auth/**/*'
  - '**/login/**/*'

# 문서 관련
documentation:
  - '*.md'
  - 'docs/**/*'
  - '.github/**/*.md'

# 설정 관련
config:
  - pubspec.yaml
  - analysis_options.yaml
  - '**/*config*'

# 테스트 관련
tests:
  - test/**/*
  - '**/*_test.dart'
  - '**/*test*'

# CI/CD 관련
ci:
  - .github/workflows/**/*
  - '.github/**/*.yml'
  - '.github/**/*.yaml'

# 의존성 관련
dependencies:
  - pubspec.yaml
  - pubspec.lock

# 플랫폼별
web:
  - web/**/*
  - '**/*web*'

android:
  - android/**/*
  - '**/*android*'

windows:
  - windows/**/*
  - '**/*windows*'

# 기능별
feature:
  - lib/**/*.dart

bugfix:
  - any: ['fix', 'Fix', 'FIX']

hotfix:
  - any: ['hotfix', 'Hotfix', 'HOTFIX']
